@import 'variables';

@media screen and (min-width: $mobile_break_point + 1) {
  .container {
    padding: 0 25px;
  }

  .articles {
    margin: 25px 0 40px;

    article > a {
      padding: 10px 15px;
    }

    .article-date {
      float: left;
      width: 70px;
      margin: 0 -70px 0 0;
      line-height: 2.5em;
    }

    .article-title {
      float: left;
      margin: 0 0 0 90px;
      line-height: 1.5em;
    }
  }
}
