@import 'settings';

.header {
  background: $header_bg;
  padding: 10px 0;
  text-align: center;

  h1,
  h2 {
    font-weight: normal;
    font-weight: 200;
    margin: 0;
  }

  h1 {
    font-size: 2em;

    > a {
      color: $main_text_color_light;

      &:hover {
        color: $main_text_color;
      }
    }
  }

  h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
