@import 'variables';

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-weight: 400;
  color: $main_text_color;
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

a {
  color: $link_color;
  text-decoration: none;

  &:hover,
  &.touch {
    color: $main_text_color;
  }
}

.container {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: $header_bg;
  padding: 10px 0;
  text-align: center;

  h1,
  h2 {
    font-weight: normal;
    font-weight: 200;
    margin: 0;
  }

  h1 {
    font-size: 2em;

    > a {
      color: $main_text_color_light;

      &:hover,
      &.touch {
        color: $main_text_color;
      }
    }
  }

  h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }
}

.main {
  padding-bottom: $footer_height;
}

.article {
  padding: 10px 0 60px;
  font-size: .875em;

  .article-title {
    font-weight: normal;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 15px;
  }

  .article-date {
    margin: 0 0 40px;
    color: $main_text_color_light;
  }
}

.articles {
  margin: 20px 0 30px;

  article > a {
    display: block;
    overflow: auto;
    padding: 15px;
    color: $main_text_color;
    transition: color .3s;

    &:hover,
    &.touch {
      background: $header_bg;
      color: $link_color;
    }
  }

  .article-date {
    margin: 0;
    font-size: .75em;
    color: $main_text_color_light;
  }

  .article-title {
    margin: 2px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
    font-weight: 400;
    line-height: 1.25em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  background: $footer_bg;
  color: $footer_text_color;
  width: 100%;
  height: $footer_height;
  text-align: center;

  p {
    font-size: .75em;
    margin: 0;
    line-height: $footer_height;

    > a {
      color: $footer_text_color;

      &:hover,
      &.touch {
        color: $main_text_color_light;
      }
    }
  }
}
