@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

$white: #fff;
$black: #444;
$gray: #999;
$extra_light_gray: #f6f6f6;
$green: #1bac7e;

$main_text_color: $black;
$main_text_color_light: $gray;
$link_color: $green;
$header_bg: $extra_light_gray;
$footer_bg: $black;
$footer_text_color: $white;
$footer_height: 40px;
